
<h1>Que comience el juego</h1>
<img src="http://contenidos.enter.co/custom/uploads/2017/10/jigsaw.jpg" style="width: 200px; height: 150px;" />

<br />


<div> Palabra de <%= session[:longitud] %> caracteres </div>


<div>
<form  method='post' action='/juego'>
Ingresar Letra: <input type='text' name='palabra' max='1' required value="e">
<input type= "submit" value="Jugar" >
</form>
</div>
<% session[:lista].each do |elemento| %>
<div class='letra'><%= elemento %></div>

<% end %>


<style type="text/css">
.letra{
	display:inline-block;
	width: 100px;
	border: dotted 1px #CCC;
	font-size: 35px;
	background: #ACC;
	text-align: center;
	font-family: Arial;
}
</style>

<table>
	<tr>
		<td>Cantidad Oportunidades</td>
		<td>6</td>	

	</tr>
	<tr>
		<td>Cantidad Errores</td>
		<td>0</td>	
	</tr>
	<tr>
		<td>Cantidad Letras Faltantes</td>
		<td>0</td>	
	</tr>
</table>
