<h1>Bienvenido a Catastrofe</h1>
<form  method='post' action='/juego'>
<label>Ingresar Palabra: </label><input type='text' name='palabra' required> <br />
<label>Ingresar Pista: </label><input type='text' name='pista' required> <br /><br/>
<input type= "submit" value="Ingresar" >

</form>

<style type="text/css">
*{
	font-family:Arial;
}

label{
	display: inline-block;
	width: 150px;
}
input{
	display:inline-block;
	width: 200px;
}
</style>
