<% 
if session[:errores] == 0
%>

<div id="contenedor">


<h1>Perdiste</h1> 

<p>
La palabra era: <span><%= session[:palabraCompleta]%></span>
</p>

<div id="imagenahorcado">
	<img style="width:300px" src="http://localhost:4567/ahorcado/ahorcado_0.png" />
</div>


<%
else
%>

<h1>Ganaste!!</h1> 

<p>
La palabra era: <span><%= session[:palabraCompleta]%></span>
</p>

<div id="imagenahorcado">
	<img style="width:300px" src="https://media1.tenor.com/images/a86e50170babf8636db907879a570408/tenor.gif?itemid=12379000" />
</div>



<%
end
%>

<a href="http://localhost:4567/" title="Reiniciar" id="Reiniciar" style="text-decoration: none;color: red;text-align: right;font-size: 25px;">Reiniciar</a>


</div>



<style type="text/css">
*{
	font-family: Arial;
}
h1{
	text-align: center;
	margin: 20px 0 30px;
}
#contenedor{
	width: 90%;
	margin: 10px auto;
	text-align: center;
}
#imagenahorcado{
	text-align: center;
	margin: 20px 0;
	border: solid 1px #CCC;
}

p{
	text-align:center;
	font-size: 25px;
}
p span{
	color: #DD4626;
}
</style>
